:root {
  --btn-1: rgb(0, 90, 255); /* used in 3 btns */
  --btn-2: rgba(0, 150, 200,.2)
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* make this mobile-first so it will be easy to make responsive for larger screens
Remember to go download the pictures for mobile
*/
/* Nav fixed section */

nav {
  height: 70px;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  margin-bottom: 5em;
  border-bottom: 0px solid rgba(0,0,0,.7);
}

.nflex {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

nav i{
  font-size: 30px;
}

nav i:nth-child(1){
   margin-right: auto;
   margin-left: 5px;
}

nav a:nth-of-type(1){
  margin-right: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
  height: fit-content;
  padding: 5px;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 15px;
  display: none;
}

nav a:nth-of-type(1):hover,
nav a:nth-of-type(1):focus{
  background-color: rgb(200, 200, 200);
}

nav a:nth-of-type(2){
  margin-right: 10px;
  text-decoration: none;
  color: white;
  background-color: var(--btn-1); /* set var */
  display: block;
  height: fit-content;
  padding: 10px;
  letter-spacing: 1px;
  border-radius: 10px;
  font-size: 15px;
}

/* responsive nav */
@media (min-width:768px) {
    nav a:nth-of-type(1){
      display: block;
    }
    nav i:nth-child(1){
   margin-left: 2em;
}
  } /* responsive nav end */

/* header */

.him{
  border-top: 1px solid rgba(0,0,0,.4);
  position: relative;
  top: 70px;
}
header{
  position: relative;
  top: 70px;
}

figure {
  width: calc(60vw + 100px);
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 2em;
}

figure h1{
  font-size: calc(4vw + 1em);
  text-align: center;
  text-wrap: wrap;
}

figure p{
  text-align: center;
  font-size: calc(2vw + 10px);
  line-height: 1.5;
  text-wrap: wrap;
  margin-bottom: calc(1vh + 5px);
  /* add margin left to bigger screen media rule so e go align with the h1 */
}

.hlink {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.hlink a{
  display: block;
  background-color: var(--btn-1);
  width: calc(2vw + 300px);
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  /* change size on bigger screen */
}

.hlink a:nth-of-type(2) {
  background-color: var(--btn-2);
  color: var(--btn-1);
}

video{
  display: none;
  /* display for larger screen */
}

.logoh{
  text-align: center;
  color: rgba(0,0,0,.6);
  margin-top: 10px;
  order: -1; 
  width: 100%; /* this order and width makes it appear above the rem flex items in small screens */
}

.hflex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  align-content: space-evenly;
  margin: 0 auto;
  width: 100%;
  height: 100px;
}

.hflex img{
  width: calc(5vw + 70px);
  height: auto;
}

/*.responsive header */
@media (min-width:960px) {
   
  header video {
    display: block;
    margin: 1em auto;
    width: 90%;
    box-shadow: 0 10px 15px rgba(0,0,0,.4);
  }
  
  figure {
    margin-bottom: 2em;
    width: 90%;
  }
  
  figure p {
    margin-left: 2em;
    text-indent: 3em;
  }
  
  .him{
    width: 85%;
    margin: 0 auto;
  }
  
  .hlink a {
    width: fit-content;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
  }
  
  .hflex{
    margin-top: 2em;
    width: 90%;
    justify-content: space-around;
  }
  .logoh {
    font-size: 20px;
    order: 0;
    width: auto;
  }
  
} /* responsive header end */



/* main section
I think this is a grid, bg color grey the 1st 2nd and last items will also be made grids,
I'll set that responsive shii to the template columns as accordingly*/
main{
  position: relative;
  top: 100px;
  background-color: rgba(211,211,211,.4);
  padding: calc(2vw + 2em);
  margin-bottom: 5em;
}

.Bold-quote {
  text-align: center;
  font-size: calc(2vw + 15px);
  font-weight: bold;
  margin-top: 2em;
}

main h4 {
  text-align: center;
  font-size: calc(1vw + 25px);
}

section div,
.Sec-1-2-wrapper,
.Sec-1-3{
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

section div a{
  text-decoration: none;
  color: black;
}

.sm {
  background-color: var(--btn-2);
  color: var(--btn-1);
  border-radius: 15px;
  padding: 0 5px;
  font-weight: bold;
}
.bd{
  font-weight: bold;
  display: block;
}

.Sec-1-1,
.Sec-1-2-wrapper{
  margin-bottom: 1em;
}

.Sec-1-1 a,
.Sec-1-1 a h3,
.Sec-1-1 p{
  line-height: 1.5;
  margin-left: 1em;
}

.Sec-1-1 img,
.Sec-1-2 img{
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.Sec-1-2 div{
  line-height: 1.5;
  margin-left: 1em;
}
.im2{
  display: none;
}

.Sec-1-flex {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.Sec-1-flex a {
  line-height: 1.5;
}
.Sec-1-flex a img{
  width: 100%;
}

.Sec-1-3 {
  display: block;
  margin-top: 1.5em;
  line-height: 1.5;
  color: black;
  text-decoration: none;
}
.Sec-1-3 img {
  width: 100%;
}


/* responsive main section */
@media (min-width: 768px) {
  .Sec-1-1,
  .Sec-1-2 {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 200px 250px;
  }
  .Sec-1-1 p{
    align-self: end;
    font-size: 20px;
    line-height: 2;
  }
  .Sec-1-1 a {
    justify-self: start;
    font-size: 20px;
    line-height: 2;
  } 
  .im2{
    display: block;
  }
  .im1{
    display: none;
  }
  
  .Sec-1-1 img,
  .Sec-1-2 img {
    height: 430px;
    max-width: 100%;
    justify-self: end;
  }

.Sec-1-flex {
  flex-direction: row;
  gap: 2em;
}  
.Sec-1-3 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: fit-content;
  grid-auto-rows: 300px;
}
  .Sec-1-3 img {
    object-fit: cover;
    max-height: 100%;
  }
  
  
  
}


/* Checkbox section immediately after main grid section */
.Checkbox-section {
  width: 100%;
  padding: 30px 15px;
  background-color: white;
}

.Checkbox-section-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.csf-1 h4 {
  font-size: calc(2vw + 20px);
  margin-bottom: 10px;
  text-align: left;
}

.csf-1 p {
  font-size: calc(1vw + 10px);
  margin-bottom: 10px;
}

.csf-1 a {
  color: rgba(0,100,240,.7);
  font-size: calc(1vw + 12px);
}

.csf-1 a:hover,
.csf-1 a:focus {
  color: rgba(120,0,250,1);
  text-decoration: underline;
}

.csf-2 {
  width: 85%;
  order: -1;
}

.Pitching-grid {
  border: 1px solid rgba(125,125,125,.4);
  border-radius: 10px;
  padding: 15px;
  padding-left: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 30px;
}

.Pgrid-1 {
  line-height: 2;
  font-weight: bold;
}
.Pgrid-1 * sub {
  font-weight: normal;
  color: rgba(125,125,125,.7);
}

.Pgrid-2 {
  background-color: rgba(225,225,225,.2);
  border-radius: 10px;
  padding: 20px;
  line-height: 2;
  font-weight: bold;
  margin-bottom: 15px;
}

.b-price {
  font-size: 25px;
}

.Pgrid-2 input {
  font-size: 25px;
  font-weight: bold;
  width: 70%;
  border-radius: 5px;
  border: 1px solid rgba(100,100,100,.3);
  padding: 10px;
}

/* responsive Checkbox-section */
@media (min-width: 768px) {
  .Checkbox-section {
    padding-top: 3em;
    padding-right: 0;
    padding-left: 3em;
    padding-bottom: 0;
    margin-bottom: 4em;
  }
  
  
  .Checkbox-section-flex {
   margin-left: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
  
  .csf-2 {
    width: 70%;
    order: 0;
    justify-self: center;
    align-self: end;
  }
  
  .Pitching-grid {
    width: 90%;
    margin: 0 auto;
  }
  
  .Pgrid-2 input {
    margin-bottom: 2.5em;
  }
}


/* Review section; has flex and grid eheh */
.Reviews-section {
  background-color: rgba(211,211,211,.4);
  padding: calc(2vw + 1em);
  padding-top: 15px;
  padding-bottom: 0;
  align-content: center;
  justify-content: center;
}

.Reviews-section h3 {
  font-size: 30px;
  margin-bottom: 1.5em;
  width: 65%;
  text-wrap: wrap;
}

.Rev-flex {
  display: flex;
  gap: 15px;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 2em;
}
.Rev-flex blockquote {
  text-wrap: wrap;
  font-size: calc(2vw + 14px);
  line-height: 1.5;
}

.Rev-flex a{
  display: block;
  color: rgba(0,100,240,.7);
}

.Rev-flex iframe{
  width: 70%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.Rev-flex img:nth-of-type(1) {
  width: calc(10vw + 30px);
}
.Rev-flex img:nth-of-type(2) {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  align-self: center;
}

.Rev-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  background-color: rgba(211,211,211,.1);
  margin: 0 auto;
  margin-bottom: 10px;
}
.Rev-grid a:nth-of-type(4),
.Rev-grid a:nth-of-type(5),
.Rev-grid a:nth-of-type(6) {
  display: none;
}


.Rev-grid a {
  display: block;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
}

.Rev-grid a img {
  margin-bottom: 1em;
  width: 70px;
}

.Rev-grid a:nth-of-type(1) p {
  width: 90%;
}

.flex-con {
  max-width: 100%;
  overflow: hidden;
 position: relative;
 background-color: transparent;
}

 .animation-flex {
 animation: 20s linear infinite ijo;
    display: flex;
    font-size: 10px;
    background-color: transparent;
    position: relative;
    white-space: nowrap;
    color: grey;
    width: fit-content;
    max-width: 100%;
  }
  
  .a-flex-3,
  .a-flex-4,
  .a-flex-5 {
    /* min-width: 170px; */
     background-color: transparent;
  }
  
    .a-flex-5 {
     /*min-width: 200px; */
     background-color: transparent;
  }
  
  .a-flex-1,
  .a-flex-2,
  .a-flex-6,
  .a-flex-7 {
   /*min-width: 150px; */
   background-color: transparent;
  }
  
  
@keyframes ijo {
0% {
      transform: translateX(0);
}
 100% {
      transform: translateX(-300%);
         }
} 

.fa-rocket {
  transform: rotate(-37deg);
}



/* resp Reviews-section */
@media (min-width: 768px) {
  .Reviews-section {
    padding: 4em;
  }
  
  @keyframes ijo {
0% {
      transform: translateX(50%);
}
 100% {
      transform: translateX(-70%);
         }
} 

  .Rev-flex{
  display: grid;    
  grid-template-columns: 2fr 1fr;
  }
  .Rev-flex blockquote {
    grid-column: 1 / 2;
  }
  .Rev-flex a {
    grid-column: 1 / 2;
    font-weight: 700;
    font-size: 25px;
  }
  .Rev-flex img:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
  
  .Rev-grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
  }
  
  .Rev-grid a{
    padding: 1em;
    width: 100%;
    height: auto;
  }
  
.Rev-grid a:nth-of-type(4),
.Rev-grid a:nth-of-type(5),
.Rev-grid a:nth-of-type(6) {
  display: block;
}
  
}

/* fine-grid section */
.fine-grid-section {
  width: 100%;
  padding: 30px 15px;
  margin: 0 auto;
}

.fine-grid-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  margin-left: 1em;
}
.fgf-1 h4 {
  font-size: calc(2vw + 20px);
  margin-bottom: 10px;
  text-align: left;
}

.fgf-1 p {
  font-size: calc(1vw + 10px);
  margin-bottom: 10px;
}

.fgf-1 a {
  color: rgba(0,100,240,.7);
  font-size: calc(1vw + 12px);
}
.fgf-1 a:hover,
.fgf-1 a:focus {
  color: rgba(120,0,250,1);
  text-decoration: underline;
}

.fgf-2 {
  width: 85%;
  order: -1;
}

.fine-grid-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.fine-grid-grid a{
  display: block;
  border: 1px solid rgba(140,140,140,.4);
  padding: 10px;
  border-radius: 10px;
  width: calc(20vw + 100px);
}

.fine-grid-grid a p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: bold;
}

.fine-grid-grid a p:nth-of-type(1) {
  width: 90%;
}

.fine-grid-grid a i,
.material-symbols-outlined {
  color: rgba(140,140,140,.7);
  margin-bottom: 10px;
}

.fine-grid-grid a:hover {
  background-color: rgba(0,120,200,.3);
}

/* responsive fine-grid-section */

@media (min-width: 768px) {
  .fine-grid-flex {
   margin-left: 4em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
  
  .fgf-2 {
    width: 70%;
    order: 0;
    justify-self: center;
    align-self: end;
  }
  
  .fine-grid-grid {
    width: 90%;
    margin: 0 auto;
    gap: 25px;
  }


.fine-grid-grid a{
  width: auto;
}
}

/* section before footer */

.Section-before-footer{
  background-color: rgba(211,211,211,.4);
  padding-top: 0.7em;
  padding-bottom: 2.5em;
}
.Section-before-footer h3{
  font-size: calc(2vw + 20px);
  margin: 1em;
}
.Section-before-footer p{
  font-size: 15px;
  text-align: left;
  margin-top: 1em;
  margin-left: 1em;
}

.Sbf-last-p  { background-color: rgba(255,255,255,.0);
}

.Sbf-last-p a {
  text-decoration: underline black;
  color: black;
}


.Sbf-grid {
  display: flex;
  gap: 15px;
  flex-direction: column;
  background-color: transparent;
  width: 85%;
  margin: 0 auto;
} 

.Sbf-grid > div {
  border-radius: 10px;
  padding: 15px;
}

.Sbf-grid * i {
  font-size: 30px;
  margin-bottom: 15px;
}

.Sbf-grid * h5 {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: bold;
}

.Sbf-grid * p {
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: left;
  margin-left: 0;
}


.Sbf-grid1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.Sbf-grid4 img {
  width: 100%;
}

.Sbf-grid1-img {
  display: block;
  align-self: flex-end;
  width: 250px;
  box-shadow: -2px 0 5px 0px rgba(100,100,100,.3);
  margin-left: 2.5em;
}

.Sbf-grid1-a{
  background-color: rgba(0,100,250,.7);
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.Sbf-grid2 img,
.Sbf-grid3 img {
  display: none;
}

.Sbf-grid2 a,
.Sbf-grid3 a {
  font-size: 14px;
  padding: 7px;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 15px;
  font-weight: bold;
}

.Sbf-grid2 a:active,
.Sbf-grid3 a:active {
  background-color: rgba(120,120,120,.5);
}
/* responsive Section-before-footer */
@media (min-width: 768px) {
  .Section-before-footer h3{
    margin-left: 3em;
  }
  
  .Sbf-last-p {
    margin-left: 7em;
    margin-top: 2em;
  }
  
  .Sbf-grid {
    display: grid;
    width: 80%;
    gap: 35px;
    gap: 35px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 250px;
  }
  
  .Sbf-grid1 {
    grid-area: 1 / 1/ 3/ 2;
    grid-auto-rows: subgrid;
    overflow: hidden;
    line-height: 1.5;
  }
  .Sbf-grid1 img {
    width: 95%;
  }
  
  .Sbf-grid2,
.Sbf-grid3 {
  display: grid;
  width: fit-content;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  overflow: hidden;
  line-height: 1.5;
}



.Sbf-grid2 img,
.Sbf-grid3 img {
  display: block;
  width: 100%;
  justify-self: fit-content;
  align-self: center;
}

.Sbf-grid2-item {
  width: 70%;
  height: 30%;
}

}

/* footer  */

footer {
   margin: 2em 1em;
}

footer h3{
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.footer-logo-links {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.footer-logo-links a{
  font-size: 20px;
  color: rgba(120,120,120,1);
  margin-right: calc(2vw + 5px);
  text-decoration: none;
}

.footer-logo-links a:hover, 
.footer-logo-links a:focus{
  color:  rgba(0,100,255,.7);
  border-radius: 5px;
}

select {
  margin-top: 3em;
  margin-bottom: 1em;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

.copy{
  color: rgba(120,120,120,.7);
  line-height: 2;
  font-family: Arial;
  font-size: 15px;
  font-style: oblique;
  margin-bottom: 25px;
}

.Last-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3em;
  width: calc(10vw + 250px);
  row-gap: calc(2vh + 20px);
}

.Last-grid * a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  line-height: 2;
}

.Last-grid * a:hover,
.Last-grid * a:focus {
  text-decoration: underline blue;
}

.stand-alone {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5em;
}

/* resp footer */
@media (min-width: 768px) {
  footer {
    margin-left: 10em;
  }
  
  .Last-grid {
    width: 70%;
  }
  
}
